@model BotilleriaDB.Models.Producto
@{
    ViewData["Title"] = "Editar Producto";
}
<h1 class="text-center">Editar Producto</h1>
<div>
    @*asp-action permite acceder a un método del controlador*@
    <form asp-action="Edit">
        <input type="hidden" asp-for="ProductoId" />
        <div>
            <label class="form-label">Nombre Producto</label>
            @*asp-for es un helper que permite asignar el mismo nombre y id de la clase
            a los input*@
            <input type="text" class="form-control" asp-for="NombreProducto" />
            @*validation-for permite validar algunos parametros*@
            <span asp-validation-for="NombreProducto" class="badge bg-danger"></span>
        </div>
        <div>
            <label class="form-label">Nombre Proveedor</label>
            @*asp-for es un helper que permite asignar el mismo nombre y id de la clase
            a los input*@
            <input type="text" class="form-control" asp-for="NombreProveedor" />
            @*validation-for permite validar algunos parametros*@
            <span asp-validation-for="NombreProveedor" class="badge bg-danger"></span>
        </div>
        <div>
            <label class="form-label">Precio</label>
            @*asp-for es un helper que permite asignar el mismo nombre y id de la clase
            a los input*@
            <input type="text" class="form-control" asp-for="Precio" />
            @*validation-for permite validar algunos parametros*@
            <span asp-validation-for="Precio" class="badge bg-danger"></span>
        </div>
        <div>
            <label class="form-label">Stock</label>
            @*asp-for es un helper que permite asignar el mismo nombre y id de la clase
            a los input*@
            <input type="text" class="form-control" asp-for="Stock" />
            @*validation-for permite validar algunos parametros*@
            <span asp-validation-for="Stock" class="badge bg-danger"></span>
        </div>
        <div>
            <label>Foto</label>
            <input type="file" class="form-control" asp-for="Imagen" accept="image/jpg,image/jpeg,image/png" />

        </div>
        <div class="text-end mt-3">
            <a class="btn btn-secondary" asp-action="Index" asp-controller="Producto">Volver</a>
            <input type="submit" class="btn btn-primary" value="Guardar" />
        </div>
    </form>
</div>