@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <p>
    <h1 class="display-4">Bienvenido al Sistema Interno Botilleria Hector</h1>
    <p>Mas Informacion <a class="text-white" href="https://www.virginiogomez.cl">www.virginiogomez.cl</a>
    </p>


</div>
<body>
    <div class="img-fluid"
        <form img="center" id="form1" runat="server">
            <div class="text-center">
                <img src="~/imagen/boti3.jpg"/>
            </div>
         </form>
    </div>
</body>
